.wrapper {
	display: flex;
	height: 3em;
	width: 3em;
	justify-content: center;
	align-items: center;
}
.text {
	font-size: 32px;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
